/*

    Mellowie 2021 - All Rights Reserved 

    <!DISCLAIMER!>
    This is a school project and is not to be copied
    for commercial or redistribution. You may learn,
    edit for your personal use or admire my work as
    much as you possibly want, but no copying ;)
    - Mellowie <3

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/*  Global  */
* , html, body, p {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    font-size: large;
    margin: 0;
    padding: 0;
}

/*  Body  */
body{
    margin-top: 2%;
    background-color: #191414;
    overflow: hidden;
}

/*  Remove text highlighting  */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/*  Preloader  */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #191414;
    z-index: 99;
  }
  
  #status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
  }

/*  Header  */
.header {
    color: #fff;
    margin-bottom: 0;
    width: 40%;
    padding-left: 0%;
    margin: 0;
    padding-top: 5%;
    line-height: 280%;
}


/*  Grid  */
.main-container {
    place-items: auto center;
    display: flex;
    position: center;
    justify-content: center;
    margin-bottom: 0%;
    width: 100%;
}


.calc-container {
    display: grid;
    padding-left: 10%;
    padding-top: 3%;
}

/*  Input  */
#input {
    margin-left: 8px;
    margin-right: 0px;
    box-shadow: 0 0px 5px white, 0 0px 18px white;
    margin-bottom: 15px;
    border-radius: 15px;
    width: 98%;
    height: 2em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #FDFEFE;
    padding-right: 10px;
    font-size: 3em;
    text-align: right;
    background-color: #212a32;
    transition: all 0.3s ease-in
}

#buttons-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    text-align: center;

}

/*  Btn's  */
.btn {
    margin-top: 16px;
    margin-left: 8px;
    box-shadow: 0 0px 5px white, 0 2px 12px white;
    border-radius: 15px;
    display: flex;
    font-size: 1.2em;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    transition: all 0.1s ease-in;
    border: 0.3px solid rgba(251, 253, 255, 0.171);
}

.dot {
    grid-column: span 2;
}

.equal {
    grid-row: span 2;
}

.btn-num {
    background-color: #212a32;
    color: #d7e2de;
}

.btn-num:hover {
    background-color: #212a32;
}

.btn-operator {

    background-color: #f58020;
    color: #ffffff;
}

.btn-operator:hover {
    background-color: #ffc20e !important
}

.equal{
    background-color: #f58020;
}